/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Definição de fonte */

@font-face {
    font-family: "calculator-font";
    src: url(../fonts/Calculator.ttf);
}

@font-face {
    font-family: "font-numeros";
    src: url(../fonts/Changa-VariableFont_wght.ttf);
}

.conteiner-geral {
    /* background-image: linear-gradient(to left, #6a706e, #605757); */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner-calculadora,
.conteiner-logo,
.conteiner-display-calculadora,
.container-teclado-calculadora {
    background-image: linear-gradient(to left, #585873, #31275a);
}

.conteiner-calculadora {
    min-width: 320PX;
    padding: 5px;
    height: 70%;
    width: 50%;
    position: relative;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 4px #000;
}

.conteiner-logo {
    padding-left: 5px;
    font-family: "calculator-font";
    font-size: 0.5em;
    height: 5%;
    color: #fff;
}

.conteiner-logo h1 {
    text-decoration: underline;
}

.conteiner-display-calculadora {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 100%;
}

.display-calculadora {
    font-family: "calculator-font";
    border-radius: 3px;
    background-image: linear-gradient(to left, #e2eae4, #7e9c84);
    height: 90%;
    width: 95%;
    padding: 5% 1% 5% 1%;
    box-shadow: 1px 1px 4px 1px #000;
}

.texto_display {
    text-align: right;
    font-size: 4em;
}

.container-teclado-calculadora {
    height: 65%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teclado-calculadora {
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 90%;
    width: 95%;
}

.conteiner-operadores,
.conteiner-numeros {
    /* border: 1px solid rgb(243, 238, 238); */
    /* padding: 5px; */
    gap: 5px;
}

.conteiner-numeros {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: auto auto auto;
    border-right: 2px solid #fff;
    padding-right: 5px;
}

.conteiner-operadores {
    display: grid;
    padding-left: 5px;
    grid-template-columns: auto auto;
}

.tecla {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 30px;
    font-size: 2em;
    font-family: font-numeros;
    background-image: linear-gradient(to right, #2f2f26, rgb(38, 48, 86));
    -webkit-box-shadow: 5px 5px 15px 5px #fff;
    box-shadow: 1px 1px 4px 1px #000;
    cursor: pointer;
}

.tcl-del {
    grid-column: 1/3;
}